<!DOCTYPE html>

<html>

<head>

    <title>Basic Layout for an HTML page</title>

    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia|Alegreya Sans' rel='stylesheet'>


</head>


<body>
    <div class="content">
        <div class="header">
            ...AND SO, HE DECIDED TO LIVE THE LIFE HE IMAGINED...
        </div>

        <div class="navigation">
            <div class="vertical-menu">
                <a href="index.html" class="active">Home</a>
                <a href="page1.html">Link 1</a>
                <a href="page2.html">Link 2</a>
                <a href="page3.html">Link 3</a>
                <a href="page4.html">Link 4</a>
            </div>
        </div>
        <div class="main">
            <p> Programming as a proffesion is only moderately interesting. It can be a good job, but you could make about the same money and be happier running a fast food joint. You're much better off using code as your secret weapon in another profession.
            </p>
        </div>
        <div class="footer">
            The copyright info goes here. Dream. Create. Inspire.
        </div>



    </div>
</body>


</html>
